*{
  box-sizing: border-box;
  color: white;
  font-family: SeroPro, Arial, sans-serif;
}
body{
  margin : 0;
  padding: 0;

  background-color : #16161a;
  overflow-x: hidden;
}

header{
  margin-top : calc(100vh - (100vh - 800px));
  margin-left: 9vw;
  width: 90vw;
}
h1{
  margin: 0;
  font-size: 8rem;
}
.content{
  position: absolute;
  /* background-image: url(../imgs/planet2.png);
  background-size: 20% 20%;
  background-position: 10% 40%;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  min-height: 2000px;
}
p{
  position: relative;
  left: 1100px;
  padding : 40px;

  z-index: 10;

  width: 700px;
  height: 200px;

  font-size: 1.3em;

  color: white;
  background-color: #37373d;
  opacity: 0.8;

  border: dotted 8px #16161a;
}